body{
    margin:0;
    padding:0;
    background-image: url("img/mask.png"), url("img/bg-exo2.jpg");
    background-repeat: no-repeat, no-repeat;
    background-size:cover;
}



#container{
    display:flex;
    width:100%;
    padding : 0;
    margin : 0
}

.fire{
    background: url("img/seq-a.png");
    z-index: 2;

}

.ice{
    background: url("img/seq-b.png");
    z-index:2;
}

.fire_men{
    position:relative;
}

.ice_girl{
    position:relative;
}

.first_container{
    width:50%;
}

.second_container{
    width:50%;
}